<ion-header>
  <ion-navbar class="toolbar-md" color="whatsapp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Candidates
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="chats-page-content">
  <ion-list class="chats">
    <ion-item-sliding *ngFor="let chat of chats | async">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="chat.picture">
        </ion-avatar>
        <div [ngStyle]="{'font-size': '13px'}">
          <h3 class="chat-title" [ngStyle]="{'display': 'inline'}">{{chat.title}}</h3>
          <ion-icon name="star" [ngStyle]="{'color': '#f9c95c'}"></ion-icon>
          <ion-icon name="star" [ngStyle]="{'color': '#f9c95c'}"></ion-icon>
          <ion-icon name="star" [ngStyle]="{'color': '#f9c95c'}"></ion-icon>
          <ion-icon name="star" [ngStyle]="{'color': '#f9c95c'}"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <span [ngStyle]="{'color': 'grey'}">(80)</span>
          <span [ngStyle]="{'color': 'grey', float: right}">2h</span>
          <p class="test">
            I've had a pretty messed up day. If we just...
            Don't Know What To Do!
          </p>
          <span *ngIf="chat.lastMessage" class="last-message">
            <p *ngIf="chat.lastMessage.type == 'text'" class="last-message-content last-message-content-text">{{chat.lastMessage.content}}</p>
            <span class="last-message-timestamp">{{ chat.lastMessage.createdAt | amCalendar }}</span>
          </span>
        </div>

      </ion-item>
      <ion-item-options class="chat-options">
        <button ion-button color="grey" class="option option-remove" (click)="removeChat(chat)">Decline</button>
        <button ion-button color="primary" class="option option-remove" (click)="removeChat(chat)">Select</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>